<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" color="light-blue" opened>
    <div class="user-info">
      <img class="user-image" src="\assets\images\user\user-image.jpg" alt="User Image" />
      <div class="user-details">
        <h2 class="user-name">Masum Kazi</h2>
        <p class="user-email">contact.masumkazi@gmail.com</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="complain">Complain</a>
      <a mat-list-item routerLink="support-engineer">Support Engineer</a>
      <a mat-list-item routerLink="users">Users</a>
      <a mat-list-item routerLink="packages">Packages</a>
      <a mat-list-item routerLink="billings">Billings</a>
      <a mat-list-item routerLink="support-engineer">Area</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- dashboard contents-->
  <mat-toolbar class="bg-dark">
    <span class="text-light">Admin Dashboard</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>