  /* dashboard.component.css */
.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }

  .mat-nav-list .mat-list-item {
    color: rgb(131, 126, 126);
  }

  .mat-nav-list .mat-list-item {
    background-color: rgb(13, 12, 12)
  }

  .mat-nav-list .mat-list-item.active {
    background-color: rgb(255, 255, 255);
  }

  .mat-nav-list .mat-list-item:hover {
    background-color: rgb(91, 154, 255)
  }

  .mat-card-title {
    font-size: 2.5rem;
  }