<div class="container about-us">
  <h1>About Us</h1>
  <p class="lead">We are a leading ISP company committed to providing high-quality internet services. Our team of dedicated professionals works tirelessly to ensure customer satisfaction and service reliability.We are a leading ISP company committed to providing high-quality internet services. Our team of dedicated professionals works tirelessly to ensure customer satisfaction and service reliability.We are a leading ISP company committed to providing high-quality internet services. Our team of dedicated professionals works tirelessly to ensure customer satisfaction and service reliability.</p>
  
  <h2>Our Mission</h2>
  <p class="lead">Our mission is to empower individuals and businesses by providing them with high-speed, reliable, and affordable internet services. We believe in the power of connectivity and strive to make the internet accessible to everyone.Our mission is to empower individuals and businesses by providing them with high-speed, reliable, and affordable internet services. We believe in the power of connectivity and strive to make the internet accessible to everyone.</p>
  
  <h2>Our Team</h2>
  <div class="row col">
    <div class="col-sm-3 card p-3 m-2 text-center team-member">
      <img class="img-fluid rounded-circle" src="\assets\images\user\user-image.jpg" alt="Team Member 1">
      <h3>John Doe</h3>
      <p>Position: CEO</p>
      <p>John Doe is a visionary leader...</p>
      <ul class="follow-us">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-3 card p-3 m-2 text-center team-member">
      <img class="img-fluid rounded-circle" src="\assets\images\user\user-image.jpg" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Position: CTO</p>
      <p>Jane Smith is a technology expert...</p>
      <ul class="follow-us">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-3 card p-3 m-2 text-center team-member">
      <img class="img-fluid rounded-circle" src="\assets\images\user\user-image.jpg" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Position: CTO</p>
      <p>Jane Smith is a technology expert...</p>
      <ul class="follow-us">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-3 card p-3 m-2 text-center team-member">
      <img class="img-fluid rounded-circle" src="\assets\images\user\user-image.jpg" alt="Team Member 2">
      <h3>Jane Smith</h3>
      <p>Position: CTO</p>
      <p>Jane Smith is a technology expert...</p>
      <ul class="follow-us">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <h2>Contact Us</h2>
    <div>
      <p>
      <strong>Address:</strong> Tejgaon, Dhaka, Banghladesh<br>
      <strong>Email:</strong> contact.masumkazi@gmail.com<br>
      <strong>Phone:</strong> 016451190863
    </p>
    </div>
  </div>
</div>
