<p>area-index works!</p>
<div class="card-container">
    <div class="mat-elevation-z8">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Areas</mat-card-title>
                <mat-card-subtitle>List of Area</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <!--                 <mat-table[dataSource]="city">

                                </mat-table> -->

                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons>
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="justify-content:flex-end;position:fixed;top:120px;right:70px;">
        <button mat-mini-fab color="warn" [routerLink]="['/city-create']"><mat-icon>add</mat-icon></button>
    </div>
</div>
