<h2 class="text-center p-3">Add New User</h2>
<div class="row">
    <div class="col-8">
        <div class="float-start">
            <button mat-button color="basic" [routerLink]="['/dashboard', 'user-list']">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>

    <form class="p-3" [formGroup]="saveUserForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input formControlName="userName" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="userEmail" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="userPassword" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input formControlName="userPhone" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="userGender">
                    <mat-option value=null>Select One</mat-option>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Photo</mat-label>
                <input formControlName="userImage" matInput>
            </mat-form-field>

            <!-- <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                multiple="multiple" accept="image/*" />
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input formControlName="userAddress" matInput>
            </mat-form-field> -->

            <mat-form-field>
                <mat-label>Date</mat-label>
                <input formControlName="userCreateDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select formControlName="cityId">
                    <mat-option *ngFor="let city of cityInfo" [value]="city.cityId">{{city.cityName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Area</mat-label>
                <mat-select formControlName="areaId">
                    <mat-option *ngFor="let area of areas" [value]="area.areaId">{{area.areaName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Package</mat-label>
                <mat-select formControlName="packageId">
                    <mat-option *ngFor="let ispPackage of ispPackages"
                        [value]="ispPackage.packageId">{{ispPackage.packageName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>