<mat-toolbar>
    <span>CRM-ISP</span>
    <span class="menu-spacer"></span>
    <a mat-button [routerLink]="['home']">Home</a>
    <a mat-button [routerLink]="['package']">Package</a>
    <a mat-button [routerLink]="['city']">City</a>
    <a mat-button [routerLink]="['complain']">Complain</a>

    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>
